<!doctype html>
<html>
  <head>
    <title>Users</title>
  </head>
  <body>
    <h1> USERS </h1>
    <ul>
      {% for truc in data %}
      <li>{{ truc }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
